!gradle-wrapper.jar
**/.gradle
/out/
build/
/test-output/
.idea/
*.class
*.swp
*.swo
*.iws
*.iml
.DS_Store
/local.properties
/.env
/email.txt
gen/
/dumps
.kotlin

# Generated question artifacts
**/.question.json
**/report.html

# Generated test resources (created by plugin:functionalTest)
lib/src/test/resources/questions.json
server/src/test/resources/questions.json
